ENV=
SERVER_PORT=
APP_NAME=
APP_VERSION=
POSTGRES_PASSWORD=
POSTGRES_DB=
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
DATABASE_URL=
LOKI_URL=
REDIS_URL=
REDIS_PASSWORD=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URL=
OAUTH_STATE_SECRET=
JWT_SECRET=
JWT_EXPIRATION_MINUTES=
REFRESH_TOKEN_TTL_DAYS=